DATABASE_URL="file:./dev.db"
TELEGRAM_BOT_TOKEN=8762902035:AAGVEHAC8STpMOVz5AYwijrIWFkix9YgWcc
ADMIN_CHAT_ID=6958296341
ADMIN_SECRET=ASJSHFBRJ@(SDF@#WNCUCNBT1415732
ENCRYPTION_KEY=5082e5a7faf024ea4cb89190bb502517cf16b36b301859b3641d62e8a54b6cc0
REDIS_URL=redis://localhost:6379
WEBHOOK_URL=https://yourdomain.com/webhook
PORT=3000